# Exclude AI-workflow files from the source distribution (sdist).
# The ledgerkit/ package, tests/, docs/ (human docs), README.md,
# LICENSE, and pyproject.toml are included by setuptools automatically.
exclude CLAUDE.md CHANGELOG.md ROADMAP.md
recursive-exclude dev-docs *
